@import "tailwindcss";

/* .swiper-button-prev:after,
.swiper-button-next:after {
  @apply px-4 py-2 ring-1 ring-amber-600 hover:text-white hover:bg-green-600 rounded-full bg-white text-black text-lg !important;
} */
